body {
  cursor: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/np_cursor_740125_000000.png),default;
  background: #272322;
  color: #f8f8f2;
  font-size: 22px;
}

@media (max-width: 600px) {
  meta[name="viewport"]{
    content: "width=device-width, initial-scale=1.2";
  }

  body {
    font-size: 18px;
  }

}


a {
  color: #66d9ef;  /* Monokai Blue */
  text-decoration: none;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "kiwi maru";
}

.links {
  text-align: center;
}

.links_content {
  font-family: "kiwi maru";
}

.info tr td {
	padding: 10px;
}

tr:hover {
  background-color: #282828;
}

.anime {
	padding: 10px;
}

.contents{
	padding-left: 20px;
}

h2 {
  font-family: "Nico Moji";
}

h1 {
  font-family: "Nico Moji";
}

footer {
  font-family: "Nico Moji";
}
