/* Styles for Specific Parts */

body {
  cursor: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/np_cursor_740125_000000.png),default;
  background: #272322;
  color: #f8f8f2;
  font-size: 22px;
}

h1 {
  /* font-family: "Nico Moji"; */
  font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI Variable Display", "Segoe UI", Helvetica, "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Hiragino Sans GB", "メイリオ", Meiryo, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol"
}

h2 {
  font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI Variable Display", "Segoe UI", Helvetica, "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Hiragino Sans GB", "メイリオ", Meiryo, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol"
}

a {
  color: #66d9ef;  /* Monokai Blue */
  text-decoration: none;
}

/* Styles for Specific Type of Contents */

@media (max-width: 600px) {
  meta[name="viewport"]{
    content: "width=device-width, initial-scale=1.2";
  }

  body {
    font-size: 18px;
  }

}

/* Styles for Specific Class */
.info {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "kiwi maru";
}

.links {
  text-align: center;
}

.links_content {
  font-family: "kiwi maru";
}

.anime {
	padding: 10px;
}

.contents{
	padding-left: 20px;
}

.okotowari {
  font-size: 16px;
}

.inspired-by {
  font-family: "Nico Moji";
  font-size: 22px;
}


/* Styles for Tables */

.info tr td {
	padding: 10px;
}

tr:hover {
  background-color: #282828;
}
